@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out; /* Ajoute une transition fluide pour tous les changements */
}

*::before,
*::after {
  transition: all 0.2s ease-in-out; /* Assure une animation pour les pseudo-éléments */
}

/* Ajout d'une animation pour les interactions comme le focus */
*:focus {
  outline: none;
  box-shadow: 0 0 6px 2px rgba(0, 255, 255, 0.5); /* Effet lumineux */
}

html {
  line-height: 2rem;
  font-size:17px;
  color:#d8eaeb;
}

body {
  background-color: rgb(79, 158, 158);
  color:rgb(216, 234, 235);
  font-family: "Montserrat", serif;
}

.sectionTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem; /* Correspond à text-xl */
  line-height: 4rem;
  margin-bottom: 2rem; /* Correspond à mb-8 */
}

@media (width <= 750px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

.bgmorphismwhite {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgb(216 234 235, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bgmorphismaccent {
  background: rgba(39, 39, 39, 0.822);
  box-shadow: 0 8px 32px 0 rgb(216 234 235, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bgmorphism {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgb(216 234 235, 0.4);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tham-inner {
  background-color: white !important;
}

.bgpattern {
  background-color: #e5e5f7;
  opacity: 0.3;
  background-image: radial-gradient(circle at center center, #115e59, #e5e5f7), repeating-radial-gradient(circle at center center, #115e59, #115e59, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}
